:root{
    --topcolor : rgb(220, 20, 63);
}

a{
    text-decoration: none;
    color: Black;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:whitesmoke;
    padding : 0px 30px;
}

.navbar_logo{
    font-size: 50px;
    background-color : none;
    color : var(--topcolor);
}

.explorer{
    display:flex;
    list-style-type:none;
    font-size: 20px;
    color : var(--topcolor);
    
}
.explorer li{
    margin : 5px;
    padding : 5px;
    
}
body {
    background-color: rgba(255, 255, 255, 0.959);
    margin : 0;

}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(134, 30, 30);
    box-shadow: 30mm;
}

img { 
    width:80%;
    height: auto;
}

table,th,td{
    width: auto;
    height: auto;
    border :2px solid rgb(0, 0, 0);
    background-color: aliceblue;
    border-collapse:collapse;
    padding-right: 20%;
}

.didiv{
    border: 1px outset rgb(168, 0, 0);
    background-color: rgb(122, 122, 122);
    text-align: center;
}