.container {
    margin: 10px;
    display : grid;
    grid-gap : 10px;
    height : 90vh;
    grid-template-columns : 300px 1fr 100px 300px 300px;
    grid-template-rows: 5vh 60vh 20vh;
    grid-template-areas:
    'header header header header trading'
    'explorer chart chart market trading'
    'asset asset info info info';
}

.container > div {
    background-color : rgb(254, 254, 254);
    padding : 0;
    border : 1px solid rgb(255, 255, 255);
    justify-items : center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px  #e4e4e4;
}
.header {
    grid-area : header;
}

.explorer {
    grid-area : explorer;
    display : block;
    align-content: center;
    
}

.chart {
    grid-area : chart;
}

.market {
    grid-area : market;
    color : rgba(0, 0, 0, 0.500);
    font-weight: bold;
    font-size:large;
}

.trading {
    grid-area : trading;
    display : block;
    color : rgba(0, 0, 0, 0.500);
    font-weight: bold;
    font-size:large;
}



.asset {
    grid-area : asset;
    color : rgba(0, 0, 0, 0.500);
    font-weight: bold;
    font-size:large;
}

.info {
    grid-area : info;
    color : rgba(0, 0, 0, 0.500);
    font-weight: bold;
    font-size:large;
}