@import './subSpec.scss';

@mixin 함수() {
    background : #8f8f8f;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }

.hello {
    h4 {
        color : rgb(238, 0, 131);
    }
    p {
        color:greenyellow;
    }
}

.my-alert {
    @include 함수()
}

.my-alert2 {
    @extend .my-alert;
    background : yellow;
  }

.my-alert p {
    margin-bottom : 0;
  }

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}