.App {
  text-align: center;
  background-color:rgb(255, 255, 255);
}


.jumbotron {
  padding: 30px;
  text-align: baseline;
  width: 100%;
  height: 400px;
  background-image: url(./jumbo.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  color:white;
  padding:10px;
  margin:0;
}

.row {
  margin-top: 30px;
}

.container {
  border:solid blue;
  border-block-style: ;
}

.row {
  border:solid chartreuse;
}

.col-md-4 {
  border:solid coral;
}

.col-md-4 img {
  border:solid;
  border-width: 2px;
  border-color: rgb(192, 192, 192);
  border-radius: 20px;
}