.App {
  text-align: center;
  background-color:rgb(190, 190, 190);
}


.jumbotron {
  padding: 30px;
  text-align: baseline;
  width: 100%;
  height: 400px;
  background-image: url(./jumbo.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  color:white;
  padding:10px;
  margin:0;
}